node_modules/
.DS_Store
.env
dist/
build/
*.log
.idea/
server/.secret.key
dist-electron/
__pycache__/
*.py[cod]
*$py.class
*.bk
skills/drive-tools/scripts/test/
skills/drive-tools/a.yml
skills/drive-tools/config.yaml
